@page "/boot"
@page "/"
@using NativeFileDialogCore
@using TeReoLocalizer.Shared.Code
@using TeReoLocalizer.Shared.Code.Services
@inject IJSRuntime Js
@inject IModalService Md
@inject NavigationManager Nm
@code {

    BootData bootData = new BootData();
    bool ready;
    string search = string.Empty;
    List<BootDataProject> visibleProjects = [];
    bool renderRecent => bootData.Projects.Count > 0;
    bool navigatingToProject;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadData();
        ready = true;
    }

    async Task LoadData()
    {
        bootData = await BootService.GetBootData();
        ApplySearch();
    }

    async Task OpenProject()
    {
        DialogResult result = Dialog.FileOpenEx("csproj", dialogTitle: "Te Reo");

        if (!result.IsOk || result.Path is null)
        {
            return;
        }

        string csprojPath = result.Path;

        if (Path.GetExtension(csprojPath) is not ".csproj")
        {
            await Js.Toast(ToastTypes.Error, "Zvolený soubor musí mít koncovku .csproj");
            return;
        }

        await NavigateToLogin(csprojPath);
    }

    async Task OpenKnownProject(BootDataProject prj)
    {
        if (!File.Exists(prj.Csproj))
        {
            await Js.Toast(ToastTypes.Error, "Projekt neexistuje na disku");
            return;
        }

        await NavigateToLogin(prj.Csproj);
    }

    async Task NavigateToLogin(string path)
    {
        if (navigatingToProject)
        {
            return;
        }
        
        navigatingToProject = true;
        StateHasChanged();
        
        BootDataProject project = await BootService.LogProjectOpened(path);
        Nm.NavigateTo($"/login/login?projectId={project.Id}", true);
        SharedProxy.Maximize?.Invoke();
    }

    void ApplySearch()
    {
        visibleProjects.Clear();
        
        if (search.Length is 0)
        {
            foreach (BootDataProject x in bootData.Projects)
            {
                visibleProjects.Add(x);
                x.IsVisible = true;
            }

            visibleProjects = visibleProjects.OrderByDescending(x => x.LastRan).Take(50).ToList();
            StateHasChanged();
            return;
        }
        
        Parallel.ForEach(bootData.Projects, x =>
        {
            x.IsVisible = x.Name.ToLowerInvariant().Contains(search.ToLowerInvariant().Trim());

            if (x.IsVisible)
            {
                visibleProjects.Add(x);
            }
        });
        
        visibleProjects = visibleProjects.OrderByDescending(x => x.LastRan).Take(50).ToList();
        StateHasChanged();
    }

    void DeleteProject(BootDataProject prj)
    {
        Md.ShowConfirmActionModal("Odstranit projekt", "Potvrďte odstranění projektu.", async () =>
        {
            await BootService.RemoveProject(prj.Id);
            await InvokeAsync(LoadData);
        });
    }
}

@if (!ready)
{
    return;
}

@if (navigatingToProject)
{
    <div style="text-align: center; margin-top: 40px;">Projekt se načítá..</div>
    return;
}

<div style="max-width: 600px; margin-left: auto; margin-right: auto;">
    
    <div style="display: flex; margin-bottom: 1rem; gap: 10px; @(!renderRecent ? "justify-content: center" : string.Empty)" ondragstart="return false;">
        <img style="margin-top: auto; margin-bottom: auto; user-select: none;" ondragstart="return false;" width="64" src="favicon.svg" />
        <div style="margin-top: auto; margin-bottom: auto; user-select: none;">
            <div class="gradient-text">Te Reo Localizer</div>
            <div class="form-text">@(SharedProxy.GetAppVersion is null ? "Project.LatestVersion / oficiální verze" : SharedProxy.GetAppVersion.Invoke())</div>
        </div>
    </div>
    
    @if (!renderRecent)
    {
        <div style="display: flex; justify-content: center; margin-bottom: 1rem;">
            <button @onclick="OpenProject" style="white-space: nowrap;" class="btn btn-secondary btn-sm">Otevřít projekt</button>
        </div>
        <div style="display: flex; justify-content: center;">
            <div class="form-text">Vyberte <code>.csproj</code> projekt, který chcete otevřít.</div>
        </div>
    }
    else
    {
        <div style="display: flex; gap: 50px; align-items: flex-start; margin-bottom: 30px;">
            <input class="form-control form-control-sm" @bind="search" @bind:after="ApplySearch" @bind:event="oninput" placeholder="Hledejte podle názvu projektu"/>
            <div style="display: flex;">
                <button @onclick="OpenProject" style="white-space: nowrap;" class="btn btn-secondary btn-sm">Otevřít projekt</button>
            </div>
        </div>   
    }

</div>

@if (renderRecent)
{
    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <div class="projects-container">
            
            @if (visibleProjects.Count is 0)
            {
                <div class="form-text">Nenalezeny žádné projekty.</div>
            }
            else
            {
                foreach (BootDataProject prj in visibleProjects)
                {
                    <div @onclick="@(() => OpenKnownProject(prj))" class="project-card card">
                        <div class="card-body">
                            <button @onclick="(() => DeleteProject(prj))" @onclick:stopPropagation="true" style="position: absolute; right: 12px; top: 10px;" class="btn-close"></button>
                            <div class="project-name">
                                
                                @if (prj.IsGitRepository)
                                {
                                    <div title="Git repozitář">
                                        <svg ondragstart="return false;" class="projectGitIcon" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M6 5C6 4.44772 6.44772 4 7 4C7.55228 4 8 4.44772 8 5C8 5.55228 7.55228 6 7 6C6.44772 6 6 5.55228 6 5ZM8 7.82929C9.16519 7.41746 10 6.30622 10 5C10 3.34315 8.65685 2 7 2C5.34315 2 4 3.34315 4 5C4 6.30622 4.83481 7.41746 6 7.82929V16.1707C4.83481 16.5825 4 17.6938 4 19C4 20.6569 5.34315 22 7 22C8.65685 22 10 20.6569 10 19C10 17.7334 9.21506 16.6501 8.10508 16.2101C8.45179 14.9365 9.61653 14 11 14H13C16.3137 14 19 11.3137 19 8V7.82929C20.1652 7.41746 21 6.30622 21 5C21 3.34315 19.6569 2 18 2C16.3431 2 15 3.34315 15 5C15 6.30622 15.8348 7.41746 17 7.82929V8C17 10.2091 15.2091 12 13 12H11C9.87439 12 8.83566 12.3719 8 12.9996V7.82929ZM18 6C18.5523 6 19 5.55228 19 5C19 4.44772 18.5523 4 18 4C17.4477 4 17 4.44772 17 5C17 5.55228 17.4477 6 18 6ZM6 19C6 18.4477 6.44772 18 7 18C7.55228 18 8 18.4477 8 19C8 19.5523 7.55228 20 7 20C6.44772 20 6 19.5523 6 19Z"></path> </g></svg>
                                    </div>
                                }
                                
                                <div style="margin-top: auto; margin-bottom: auto;">@prj.Name</div>
                            </div>
                            <div class="project-path">@prj.Csproj</div>
                        </div>
                    </div>
                }   
            }
        </div>
    </div>
}