@page "/localize"
@using System.Collections.Concurrent
@using System.Diagnostics
@using System.Text
@using System.Text.Encodings.Web
@using System.Text.Json
@using System.Text.Unicode
@using DeepL
@using DeepL.Model
@using TeReoLocalizer.Annotations
@using TeReoLocalizer.Shared.Code
@using TeReoLocalizer.Shared.Code.Services
@inject IJSRuntime Js
@implements IAsyncDisposable
@inherits ComponentBaseEx

@code {

    InvertedIndex Index => Program.Index;

    DotNetObjectReference<Localize>? JsRef { get; set; }
    IJSObjectReference? JsObjectRef;
    IJSObjectReference? JsObjectRefNative;
    
    string langCode = "";
    string basePath = AppDomain.CurrentDomain.BaseDirectory;
    List<string> existingFiles = [];
    string newKey = "";
    Decl decl = new Decl();
    readonly LangsData langsData = new LangsData();
    bool showLangs;
    string? generatedCode;
    bool ready;
    bool translating;
    string search = string.Empty;
    string? inputToFocus;
    bool synchronizingIndex;
    string id = General.IIID();
    bool jsInitialized;
    List<NativeCommand> nativeCommands = [];
    UserSettings userSettings = new UserSettings();
    List<KeyValuePair<string, Key>> visibleKeys = [];
    int keyPages = -1;
    int keySelectedPage = 1;

    class UserSettings
    {
        public List<Languages>? ShowLangs { get; set; }
        public RenderModes RenderMode { get; set; } = RenderModes.Input;
        public TranslationModes TranslationMode { get; set; } = TranslationModes.Default;
        public int LimitRender { get; set; }
    }
    
    class NativeCommand
    {
        public NativeCommands Type { get; set; }
        public object? Data { get; set; }
    }
    
    enum NativeCommands
    {
        Unknown,
        SetTextareaHeight
    }

    enum RenderModes
    {
        Unknown,
        [StringValue("Jednořádkový text")] 
        Input,
        [StringValue("Víceřádkový text")]
        Textarea
    }
    
    enum TranslationModes
    {
        Unknown,
        [StringValue("Výchozí")] 
        Default,
        [StringValue("Zneplatnění")] 
        Invalidate
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        JsRef = DotNetObjectReference.Create(this);
    }

    protected override bool ShouldRender()
    {
        return ready;
    }

    protected override async Task OnInitializedAsync()
    {
        if (!Consts.Cfg.Repository.IsNullOrWhiteSpace())
        {
            basePath = Consts.Cfg.Repository;
        }

        await base.OnInitializedAsync();
        await ShowLanguages(false);

        if (!Directory.Exists($"{basePath}/TeReo"))
        {
            Directory.CreateDirectory($"{basePath}/TeReo");
        }

        if (File.Exists($"{basePath}/TeReo/decl.json"))
        {
            string currentData = await File.ReadAllTextAsync($"{basePath}/TeReo/decl.json");
            decl = JsonSerializer.Deserialize<Decl>(currentData) ?? new Decl();
        }

        if (File.Exists($"userSettings.json"))
        {
            userSettings = (await File.ReadAllTextAsync($"userSettings.json")).JsonDecode<UserSettings>() ?? userSettings;

            if (userSettings.ShowLangs is not null)
            {
                foreach (KeyValuePair<Languages, LangData> x in langsData.Langs)
                {
                    x.Value.Visible = userSettings.ShowLangs.Contains(x.Key);
                }
            }
        }

        if (Consts.Cfg.Experimental)
        {
            synchronizingIndex = true;

            AsyncService.Fire(async () =>
            {
                Index.SynchronizeIndex(decl.Keys.Select(x => new IndexDocument
                {
                    Id = x.Value.Id,
                    Content = x.Value.Name
                }).ToList());

                synchronizingIndex = false;
                StateHasChanged();
            });
        }

        RecomputeVisibleKeys();
        ready = true;
    }

    async Task AddLanguage()
    {
        if (!File.Exists($"{basePath}/TeReo/lang_{langCode}.json"))
        {
            await File.WriteAllTextAsync($"{basePath}/TeReo/lang_{langCode}.json", "{}");

            await ShowLanguages(false);
            StateHasChanged();
        }
        else
        {
            await Js.InvokeVoidAsync("alert", $"Jazyk '{langCode}' je již přidán");
        }
    }

    async Task ShowLanguages(bool sl)
    {
        if (sl)
        {
            showLangs = true;
        }

        existingFiles = Directory.GetFiles($"{basePath}/TeReo").ToList();

        await Parallel.ForEachAsync(existingFiles, async (str, ctx) =>
        {
            string lang = Path.GetFileName(str).Replace(".json", string.Empty).Replace("lang_", string.Empty);

            if (!Enum.TryParse(lang, out Languages result))
            {
                return;
            }

            string data = await File.ReadAllTextAsync(str, ctx);
            LangData? parsed = JsonSerializer.Deserialize<LangData>(data);

            langsData.Langs.TryAdd(result, parsed ?? new LangData());
        });

        if (sl)
        {
            StateHasChanged();
        }
    }

    async Task AddKey()
    {
        if (newKey.IsNullOrWhiteSpace())
        {
            return;
        }

        string newKeyCopy = newKey.Trim().FirstLetterToUpper();
        string baseKey = newKey;

        newKeyCopy = Localizer.BaseIdentifier(newKeyCopy);

        Key localKey = new Key
        {
            Name = newKeyCopy,
            Id = General.IIID()
        };

        if (decl.Keys.TryAdd(localKey.Name, localKey))
        {
            await SaveDecl();

            if (newKeyCopy != baseKey)
            {
                await SetKey(Languages.CS, newKeyCopy, baseKey);
            }

            if (!search.IsNullOrWhiteSpace() && !search.Contains(newKeyCopy))
            {
                search = string.Empty;
            }

            foreach (KeyValuePair<string, Key> x in decl.Keys)
            {
                x.Value.IsVisible = true;
            }
            
            newKey = string.Empty;
            inputToFocus = $"input_CS_{newKeyCopy}";
            RecomputeVisibleKeys(true, newKeyCopy);
            StateHasChanged();
        }
        else
        {
            await Js.InvokeVoidAsync("alert", $"Klíč '{localKey.Name}' už existuje");
        }
    }

    async Task SaveDecl()
    {
        string data = JsonSerializer.Serialize(decl, new JsonSerializerOptions
        {
            WriteIndented = true,
            Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping
        });
        await File.WriteAllTextAsync($"{basePath}/TeReo/decl.json", data);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (inputToFocus is not null)
        {
            try
            {
                await Js.Focus(inputToFocus);
                inputToFocus = null;
            }
            catch (Exception e)
            {
            }
        }

        if (ready && !jsInitialized)
        {
            jsInitialized = true;

            if (Consts.Cfg.Experimental)
            {
                try
                {
                    JsObjectRef = await Js.InvokeAsync<IJSObjectReference>("import", "./Scripts/Scoped/tabulator.js");
                    await JsObjectRef.InvokeVoidAsync("Init", new
                    {
                        id = id,
                        net = JsRef,
                        decl = decl,
                        langs = langsData
                    });
                }
                catch (Exception e)
                {
                }   
            }
            else
            {
                try
                {
                    JsObjectRefNative = await Js.InvokeAsync<IJSObjectReference>("import", "./Scripts/Scoped/native.js");
                    await JsObjectRefNative.InvokeVoidAsync("Init", new
                    {
                        id = id,
                        net = JsRef,
                        settings = userSettings
                    });
                }
                catch (Exception e)
                {
                }   
            }
        }
        else if (jsInitialized)
        {
            if (nativeCommands.Count > 0 && JsObjectRefNative is not null)
            {
                try
                {
                    List<NativeCommand> copy = [..nativeCommands];
                    nativeCommands.Clear();
                    
                    await JsObjectRefNative.InvokeVoidAsync("ProcessCommands", new
                    {
                        id = id,
                        commands = copy
                    });
                }
                catch (Exception e)
                {
                    
                }
            }
        }
    }

    async Task SetKey(Languages language, string key, string value)
    {
        LangData lang = langsData.Langs[language];

        lang.Data[key] = value;

        if (!File.Exists($"{basePath}/TeReo/lang_{language}.json"))
        {
            await File.WriteAllTextAsync($"{basePath}/TeReo/lang_{language}.json", "{}");
        }

        if (userSettings.TranslationMode is TranslationModes.Default)
        {
            await SaveLanguage(language);
        }
        else
        {
            foreach (KeyValuePair<Languages, LangData> x in langsData.Langs.Where(x => x.Key != language))
            {
                x.Value.Data.TryRemove(key, out _);
            }

            await SaveLanguages();
        }
    }

    void RecomputeVisibleKeys(bool resetPaging = false, string? keyToFocus = null)
    {
        visibleKeys.Clear();

        if (resetPaging)
        {
            keySelectedPage = 1;
            keyPages = 0;
        }

        if (userSettings.LimitRender <= 0)
        {
            foreach (KeyValuePair<string, Key> x in decl.Keys.OrderBy(x => x.Key))
            {
                if (x.Value.IsVisible)
                {
                    visibleKeys.Add(x);   
                }
            }   
        }
        else
        {
            List<KeyValuePair<string, Key>> keys = decl.Keys.OrderBy(x => x.Key).Where(x => x.Value.IsVisible).ToList();
            keyPages = (int)Math.Ceiling(keys.Count / (double)userSettings.LimitRender);
            int take = userSettings.LimitRender;
            
            if (keyToFocus is not null)
            {
                if (decl.Keys.TryGetValue(keyToFocus, out Key? match))
                {
                    int index = keys.BinarySearch(new KeyValuePair<string, Key>(keyToFocus, match), Comparer<KeyValuePair<string, Key>>.Create((a, b) => string.CompareOrdinal(a.Key, b.Key)));

                    if (index < 0)
                    {
                        index = ~index;
                    }
                    
                    int indexPage = (int)Math.Ceiling(index / (double)take);
                    keySelectedPage = indexPage;
                }
            }
            
            int skip = userSettings.LimitRender * (keySelectedPage - 1);
            
            foreach (KeyValuePair<string, Key> x in keys.Skip(skip).Take(take))
            {
                visibleKeys.Add(x);
            }

            if (userSettings.RenderMode is RenderModes.Textarea)
            {
                nativeCommands.Add(new NativeCommand
                {
                    Type = NativeCommands.SetTextareaHeight
                });   
            }
        }
    }

    async Task HandleKeyUpdate(Languages language, string key, string value)
    {
        await SetKey(language, key, value);
    }

    async Task SaveLanguage(Languages language)
    {
        string data = JsonSerializer.Serialize(langsData.Langs[language], new JsonSerializerOptions
        {
            WriteIndented = true,
            Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping
        });
        await File.WriteAllTextAsync($"{basePath}/TeReo/lang_{language}.json", data);
    }

    async Task SaveLanguages()
    {
        foreach (KeyValuePair<Languages, LangData> lang in langsData.Langs)
        {
            await SaveLanguage(lang.Key);
        }
    }

    async Task UpdateKey(string key)
    {
        string str = await Js.InvokeAsync<string>("prompt", "Nový název klíče", key);

        if (!str.IsNullOrWhiteSpace())
        {
            str = str.Trim();

            foreach (KeyValuePair<Languages, LangData> x in langsData.Langs)
            {
                if (x.Value.Data.TryGetValue(key, out string? strValue))
                {
                    x.Value.Data.TryAdd(str, strValue);
                    x.Value.Data.TryRemove(key, out _);

                    await SaveLanguage(x.Key);
                }
            }

            if (decl.Keys.TryGetValue(key, out Key? kVal))
            {
                kVal.Name = str;
                decl.Keys.TryRemove(key, out _);
                decl.Keys.TryAdd(str, kVal);

                RecomputeVisibleKeys();
                await SaveDecl();
            }

            if (!search.Contains(str))
            {
                search = string.Empty;
            }

            inputToFocus = str;
        }

        StateHasChanged();
    }

    async Task Delete(string key)
    {
        bool delete = await Js.InvokeAsync<bool>("confirm", $"Potvrďte odstranění klíče '{key}'");

        if (delete)
        {
            foreach (KeyValuePair<Languages, LangData> x in langsData.Langs)
            {
                if (x.Value.Data.TryGetValue(key, out string? _))
                {
                    x.Value.Data.TryRemove(key, out _);
                    await SaveLanguage(x.Key);
                }
            }

            if (decl.Keys.TryGetValue(key, out Key? _))
            {
                decl.Keys.TryRemove(key, out _);
                await SaveDecl();
            }

            RecomputeVisibleKeys();
            StateHasChanged();
        }
    }

    async Task<string> Generate()
    {
        Localizer l = new Localizer(decl, langsData);
        string code = await l.Generate();

        if (File.Exists($"{basePath}/I18N/Reo.cs"))
        {
            await File.WriteAllTextAsync($"{basePath}/I18N/Reo.cs", code);
            await Js.Toast(ToastTypes.Success, "Kód vygenerován a zapsán");
            return code;
        }

        generatedCode = code;
        StateHasChanged();

        return code;
    }

    static string DeeplCode(Languages lang)
    {
        return lang switch
        {
            Languages.CS => LanguageCode.Czech,
            Languages.EN => LanguageCode.EnglishAmerican,
            Languages.PL => LanguageCode.Polish,
            Languages.ES => LanguageCode.Spanish,
            Languages.SL => LanguageCode.Slovak,
            Languages.FR => LanguageCode.French,
            Languages.DE => LanguageCode.German,
            Languages.RU => LanguageCode.Russian,
            Languages.UK => LanguageCode.Ukrainian,
            Languages.PT => LanguageCode.Portuguese,
            _ => LanguageCode.English
        };
    }

    async Task GenerateMissing()
    {
        if (translating)
        {
            return;
        }

        translating = true;
        StateHasChanged();

        Translator translator = new Translator(Consts.Cfg.DeepL);

        foreach (KeyValuePair<string, Key> keys in decl.Keys)
        {
            foreach (KeyValuePair<Languages, LangData> x in langsData.Langs)
            {
                if (x.Key is Languages.CS)
                {
                    continue;
                }

                string? currentVal = null;
                bool adding = true;

                if (x.Value.Data.TryGetValue(keys.Key, out string? strValue))
                {
                    currentVal = strValue;
                    adding = false;
                }

                if (currentVal.IsNullOrWhiteSpace())
                {
                    if (langsData.Langs[Languages.CS].Data.TryGetValue(keys.Key, out string? csValue) && !csValue.IsNullOrWhiteSpace())
                    {
                        try
                        {
                            TextResult result = await translator.TranslateTextAsync(csValue, LanguageCode.Czech, DeeplCode(x.Key), new TextTranslateOptions
                            {
                                Context = "Aplikace pro přípravu podkladů na vyučovací hodiny",
                                TagHandling = "html"
                            });

                            if (adding)
                            {
                                x.Value.Data.TryAdd(keys.Key, result.Text);
                            }
                            else
                            {
                                x.Value.Data[keys.Key] = result.Text;
                            }

                            StateHasChanged();
                        }
                        catch (Exception e)
                        {
                        }
                    }
                }
            }
        }

        await SaveLanguages();
        translating = false;
        StateHasChanged();
    }

    async Task ForceSave()
    {
        await SaveDecl();
        await SaveLanguages();
    }

    async Task AfterSearchUpdate(string val)
    {
        search = val;

        if (Consts.Cfg.Experimental)
        {
            foreach (KeyValuePair<string, Key> x in decl.Keys)
            {
                x.Value.IsVisible = false;
            }

            List<SearchResult> results = Index.Search(search.ToBaseLatin());
            return;
        }

        foreach (KeyValuePair<string, Key> x in decl.Keys)
        {
            x.Value.IsVisible = x.Key.ToLowerInvariant().Contains(search.ToBaseLatin());
        }
        
        RecomputeVisibleKeys(true);
        StateHasChanged();
    }

    async Task CycleTranslationMode()
    {
        if (userSettings.TranslationMode < TranslationModes.Invalidate)
        {
            userSettings.TranslationMode++;
        }
        else
        {
            userSettings.TranslationMode = TranslationModes.Default;
        }

        StateHasChanged();
    }
    
    async Task CycleInputMode()
    {
        if (userSettings.RenderMode < RenderModes.Textarea)
        {
            userSettings.RenderMode++;
            nativeCommands.Add(new NativeCommand
            {
                Type = NativeCommands.SetTextareaHeight
            });
        }
        else
        {
            userSettings.RenderMode = RenderModes.Input;
        }

        StateHasChanged();
        await SaveUserSettings();
    }


    public async ValueTask DisposeAsync()
    {
        if (JsObjectRef is not null)
        {
            try
            {
                await JsObjectRef.InvokeVoidAsync("Destroy", new
                {
                    id = id
                });

                await JsObjectRef.DisposeAsync();
            }
            catch (Exception e)
            {
            }
        }
        
        if (JsObjectRefNative is not null)
        {
            try
            {
                await JsObjectRefNative.InvokeVoidAsync("Destroy", new
                {
                    id = id
                });

                await JsObjectRefNative.DisposeAsync();
            }
            catch (Exception e)
            {
            }
        }


        JsRef?.Dispose();
    }

    async Task AfterLanguageToggle(KeyValuePair<Languages, LangData> local, bool visible)
    {
        local.Value.Visible = visible;
        userSettings.ShowLangs = langsData.Langs.Where(x => x.Value.Visible).Select(x => x.Key).ToList();
        await SaveUserSettings();
    }

    async Task AfterLimitUpdate(int value)
    {
        userSettings.LimitRender = value;
        RecomputeVisibleKeys(true);
        StateHasChanged();
        await SaveUserSettings();
    }

    async Task SetKeyPage(int page)
    {
        keySelectedPage = page;
        RecomputeVisibleKeys();
        StateHasChanged();
    }

    async Task SaveUserSettings()
    {
        await File.WriteAllTextAsync($"userSettings.json", userSettings.ToJson());
    }
}

<div style="display: flex; gap: 100px;">

    @if (false)
    {
        <div style="margin-bottom: 2rem;">
            <div style="display: flex; gap: 10px; align-items: flex-start;">
                <button style="white-space: nowrap;" class="btn btn-secondary btn-sm" @onclick="AddLanguage">Přidat jazyk</button>
                <input class="form-control form-control-sm" @bind="langCode" placeholder="Kód jazyka"/>
                <button style="white-space: nowrap;" class="btn btn-secondary btn-sm" @onclick="@(async () => await ShowLanguages(true))">Zobrazit existující jazyky</button>
            </div>

            @if (showLangs && existingFiles.Count > 0)
            {
                foreach (string lang in existingFiles)
                {
                    <div>@lang</div>
                }
            }
        </div>
    }
    else
    {
        if (langsData.Langs.Count is 0)
        {
            <div>Lokalizace se načítá..</div>
        }
        else
        {
            <div style="margin-bottom: 2rem;">
                <div style="display: flex; gap: 15px;">
                    <div>Zobrazit:</div>
                    @foreach (KeyValuePair<Languages, LangData> local in langsData.Langs.OrderBy(y => y.Key))
                    {
                        <div class="form-check">
                            <input style="cursor: pointer;" @bind:set="@(async (value) => await AfterLanguageToggle(local, value))" @bind:get="local.Value.Visible" class="form-check-input" type="checkbox" id="@($"langShow_{local.Key}")"/>
                            <label style="cursor: pointer; user-select: none;" class="form-check-label" for="@($"langShow_{local.Key}")">@local.Key</label>
                        </div>
                    }
                </div>
            </div>
        }
    }

    <div style="margin-bottom: 1rem; display: flex; gap: 10px; align-items: flex-start;">
        <input @bind:event="oninput" @bind:set="AfterSearchUpdate" @bind:get="search" class="form-control form-control-sm" placeholder="Hledat"/>
    </div>

    <div style="margin-bottom: 1rem;">
        <button class="btn btn-secondary btn-sm" @onclick="Generate">Generovat kód</button>
        <button class="btn btn-secondary btn-sm" @onclick="GenerateMissing">Doplnit chybějící překlady</button>
        <button class="btn btn-secondary btn-sm" @onclick="ForceSave">Vynutit uložení</button>
        <button class="@($"btn btn-sm {(userSettings.TranslationMode is TranslationModes.Invalidate ? "btn-danger" : "btn-secondary")}")" @onclick="CycleTranslationMode">Zápis: @(userSettings.TranslationMode.GetStringValue().FirstLetterToLower())</button>
    </div>

    <div style="margin-bottom: 1rem; display: flex; gap: 10px; align-items: flex-start;">
        <button style="white-space: nowrap;" class="btn btn-secondary btn-sm" @onclick="AddKey">Přidat klíč</button>
        <input class="form-control form-control-sm" @bind="newKey" placeholder="Klíč"/>
    </div>
</div>

@if (translating)
{
    <p>Probíhá překlad..</p>
}

@if (!generatedCode.IsNullOrWhiteSpace())
{
    <code>
        <pre>
        @generatedCode
        </pre>
    </code>
}

<div id="@id"></div>

@if (ready && !Consts.Cfg.Experimental)
{
    <div style="max-height: 800px; overflow: auto auto;">
        <table id="@($"table_{id}")" class="table table-sm table-bordered table-responsive tableMain">
            <thead>
            <tr>
                <th style="width: 140px;">
                    <b>Akce</b>
                </th>
                <th data-rtc-resizable="key" style="width: 300px;">
                    <b>Klíč</b>
                </th>

                @foreach (KeyValuePair<Languages, LangData> local in langsData.Langs.OrderBy(y => y.Key))
                {
                    if (!local.Value.Visible)
                    {
                        continue;
                    }
                    
                    <th data-rtc-resizable="@local.Key">
                        <b>@local.Key</b>
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (KeyValuePair<string, Key> x in visibleKeys)
            {
                <tr>
                    <td>
                        <button class="btn btn-secondary btn-sm" @onclick="@(async () => await Delete(x.Key))">Smazat</button>
                        <button class="btn btn-secondary btn-sm" @onclick="@(async () => await UpdateKey(x.Key))">Změnit</button>
                    </td>
                    <td style="width: 300px;">
                        <div style="max-width: 300px;">
                            <code>@x.Key</code>
                        </div>
                    </td>

                    @foreach (KeyValuePair<Languages, LangData> local in langsData.Langs.OrderBy(y => y.Key))
                    {
                        if (!local.Value.Visible)
                        {
                            continue;
                        }
                        
                        string str = local.Value.Data.GetValueOrDefault(x.Key, string.Empty);
                        <td>
                            <div class="input-group">
                                
                                @if (userSettings.RenderMode is RenderModes.Input)
                                {
                                    <input @key="@($"input_{local.Key}_{x.Key}")" id="@($"input_{local.Key}_{x.Key}")" class="form-control form-control-md" @onblur="@(async () => await HandleKeyUpdate(local.Key, x.Key, str))" @bind="str"/>   
                                }
                                else
                                {
                                    <textarea @key="@($"input_{local.Key}_{x.Key}")" id="@($"input_{local.Key}_{x.Key}")" class="form-control form-control-md" @onblur="@(async () => await HandleKeyUpdate(local.Key, x.Key, str))" @bind="str"></textarea>
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
}

@if (ready)
{
    <div style="margin-top: 1rem; display: flex; gap: 100px;">
        <div>
            <div>Klíčů: @(decl.Keys.Count)</div>
        </div>
        
        <div>
            <button class="@($"btn btn-sm btn-secondary")" @onclick="CycleInputMode">Zobrazení: @(userSettings.RenderMode.GetStringValue().FirstLetterToLower())</button>
        </div>

        <div style="display: flex; gap: 20px;">
            <div>
                <div style="display: flex; gap: 15px;">
                    <div style="white-space: nowrap;" class="form-label">Zobrazit klíčů (0 = všechny):</div>
                    <input style="width: 100px;" type="number" class="form-control" id="limitRender" @bind:set="AfterLimitUpdate" @bind:get="userSettings.LimitRender">
                </div>

                @if (keyPages > 1)
                {
                    <div style="max-width: calc(100vw - 700px);">
                        <div style="margin-right: 10px;">Strana:</div>
                        <ul class="pagination" style="flex-flow: wrap;">
                            @for (int i = 0; i < keyPages; i++)
                            {
                                int pageIndex = i + 1;

                                <li @onclick="@(async () => await SetKeyPage(pageIndex))" style="user-select: none; cursor: pointer;" class="page-item @(pageIndex == keySelectedPage ? "active" : string.Empty)">
                                    <span class="page-link">@pageIndex</span>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        
        <div style="margin-left: auto;">
            @if (synchronizingIndex)
            {
                <div>Probíhá synchronizace indexu..</div>
            }
        </div>
    </div>   
}