@using TeReoLocalizer.Shared.Code
@using TeReoLocalizer.Shared.Code.Services
@inherits ValidationComponent<bool>
@inject IJSRuntime Js
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public CheckboxAlignments Align { get; set; } = CheckboxAlignments.Default;
    [Parameter]
    public bool PointerEvents { get; set; } = true;

    public async Task SetChecked(bool chkd)
    {
        Value = false;
        await Js.ToggleCheckbox(Id);
        StateHasChanged();
    } 
    
    private async Task OnInputChange(ChangeEventArgs args)
    {
        if (bool.TryParse((args.Value ?? "").ToString(), out bool result))
        {
            Value = result;
        }
        
        await ValueChanged.InvokeAsync(Value);
        await RunValidations(ValidationEvents.OnChange);
        
        if (Group is null && OnFormUpdate is not null && TaskAggregator is null or {AllCompleted: true })
        {
            await OnFormUpdate.Invoke(new FormUpdateArgs(this, Value));
        }

        if (Group is not null && GroupValue is not null)
        {
            await Group.ToggleItem(GroupValue);
        }

        if (OnUpdate is not null)
        {
            await OnUpdate.Invoke(this);
        }
    }
}

<div class="@SerializeRow()" style="user-select: none; outline: 0; @Style">
    <InternalEdInputFrame LabelPosition="ComputedLabelPosition">
            
        @if (ComputedLabelPosition is LabelPositions.Before)
        {
            <div class="@ComputedLabelSize.Serialize()"></div>
        }
            
        <div class="@ComputedInputSize">
            <div class="form-check @(Align.GetStringValue())" style="display: flex; @(PointerEvents ? string.Empty : "pointer-events: none;")">
                <input id="@Id" class="form-check-input" type="checkbox" @oninput="@OnInputChange" checked="@Value"/>
                
                @if (Label is not null)
                {
                    <CascadingValue Value="this" IsFixed="true">
                        <InternalEdInputLabel Style="@LabelStyle" TValue="bool" For="@Id" Label="@Label" MarginBottom="false" />
                        <label class="form-check-label" style="cursor: pointer;" for="@Id">@ChildContent</label>
                    </CascadingValue>
                }
            </div>
        </div>
    </InternalEdInputFrame>
</div>
